<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chris.ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="chris.ssm.model.User">
        <id column="user_id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="pwd_salt" property="pwdSalt" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="modify_time" property="modifyTime" jdbcType="DATE"/>
        <result column="is_delete" property="isDelete" jdbcType="SMALLINT"/>
        <result column="nick_name" property="nick" jdbcType="VARCHAR"/>
        <result column="user_address" property="address" jdbcType="VARCHAR"/>
        <result column="user_introduce" property="introduceSelf" jdbcType="VARCHAR"/>
        <result column="user_age" property="age" jdbcType="VARCHAR"/>
        <result column="user_price" property="userPrice" jdbcType="BIGINT"/>
    </resultMap>


    <insert id="registerUser" parameterType="chris.ssm.model.User" >
        insert into t_user (user_name,user_phone,user_email,user_pwd,create_time,modify_time,nick_name  ) values(#{userName},#{userPhone},#{userEmail},#{userPwd},#{createTime},#{modifyTime} , #{nick})
    </insert>

    <insert id="registerUser2" parameterType="java.lang.String">
        insert into t_user (user_name) values(#{user})
    </insert>

    <update id="updateUser" parameterType="chris.ssm.model.User" >
        update t_user set  user_phone=#{userPhone} ,user_pwd =#{userPwd} ,modify_time = #{modifyTime},user_address=#{address},user_introduce=#{introduceSelf},user_age=#{age},user_price=#{userPrice} WHERE user_id =#{id}
     </update>

    <select id="selectUserById" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_id = #{userId}
    </select>

    <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_name = #{userName}
    </select>

    <select id="selectUserByEmail" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_email = #{userEmail}
    </select>

    <select id="selectUserByNick" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE nick_name = #{userNick}
    </select>

    <select id="selectUserByPhone" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_phone = #{userPhone}
    </select>

    <select id="selectUserByPhoneOrEmail" resultMap="UserBaseMap">
        SELECT * FROM t_user
        WHERE user_email = #{emailOrPhone} OR user_phone = #{emailOrPhone}
        AND user_state = #{state}
    </select>

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM t_user
    </select>

    <select id="getUserByUP" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_user where user_name = #{username} and user_pwd = #{password}
    </select>

</mapper>